{
  "openapi": "3.0.1",
  "info": {
    "title": "OnMeet Auth Service API",
    "description": "사용자 인증, 인가 및 기업/팀 관리 API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "http://api.onmeet.cloud/auth",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Bearer Authentication": []
    }
  ],
  "tags": [
    {
      "name": "Member Management",
      "description": "회원 프로필 및 팀 관리 API"
    },
    {
      "name": "Internal Security API",
      "description": "타 서비스 전용 권한 검증 API"
    },
    {
      "name": "Manager Management",
      "description": "기업 관리자 전용 API"
    },
    {
      "name": "Authentication",
      "description": "인증/인가 및 토큰 관리 API"
    }
  ],
  "paths": {
    "/v1/member/me/password": {
      "put": {
        "tags": [
          "Member Management"
        ],
        "summary": "비밀번호 변경",
        "description": "기존 비밀번호 확인 후 새 비밀번호로 변경합니다.",
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 기존 비밀번호가 일치하지 않거나 새 비밀번호 형식이 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Current password is incorrect",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "비밀번호 변경 성공"
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/job-titles/{id}": {
      "put": {
        "tags": [
          "Manager Management"
        ],
        "summary": "직급 수정",
        "description": "기존 직급 정보를 수정합니다 (매니저 전용).",
        "operationId": "updateJobTitle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobTitleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "직급을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "Job title not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "직급 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 직급 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Invalid job title data",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Manager Management"
        ],
        "summary": "직급 삭제",
        "description": "직급을 삭제합니다 (매니저 전용).",
        "operationId": "deleteJobTitle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "직급을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "Job title not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "직급 삭제 성공"
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/employees/{userId}/deactivate": {
      "put": {
        "tags": [
          "Manager Management"
        ],
        "summary": "사원 계정 비활성화",
        "description": "특정 사원의 계정을 비활성화합니다.",
        "operationId": "deactivateUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 사용자 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Invalid argument",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "사원 계정 비활성화 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "User not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/employees/{userId}/activate": {
      "put": {
        "tags": [
          "Manager Management"
        ],
        "summary": "사원 계정 활성화",
        "description": "특정 사원의 계정을 활성화합니다.",
        "operationId": "activateUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "사원 계정 활성화 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 사용자 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Invalid argument",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "User not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/register/join": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "사원(멤버) 회원가입",
        "description": "초대받은 사원이 기업에 합류하여 계정을 생성합니다.",
        "operationId": "registerEmployee",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "request"
                ],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/JoinRequest"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "초대를 찾을 수 없음 - 초대가 만료되었거나 존재하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "Invitation not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 초대 코드 또는 필수 필드 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Invalid invitation code",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "사원 회원가입 성공 - 생성된 사용자 ID 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "409": {
            "description": "충돌 - 이미 존재하는 이메일",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 409,
                  "message": "Email already exists",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/register/company": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "기업(관리자) 회원가입",
        "description": "새로운 기업을 등록하고 관리자 계정을 생성합니다.",
        "operationId": "signupCompany",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "request"
                ],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/CompanySignupRequest"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "409": {
            "description": "충돌 - 이미 존재하는 이메일 또는 기업",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 409,
                  "message": "Email already exists",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "기업 회원가입 성공 - 생성된 사용자 ID 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 필수 필드 누락 또는 유효하지 않은 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Validation failed: email: must be a valid email",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "토큰 갱신",
        "description": "Refresh Token을 사용하여 새로운 Access Token을 발급받습니다.",
        "operationId": "refresh",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "토큰 갱신 성공 - 새로운 Access/Refresh Token 발급",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 만료되었거나 유효하지 않은 Refresh Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Invalid or expired refresh token",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - Refresh Token 누락 또는 유효하지 않은 토큰 형식",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Refresh token is missing",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/member/teams": {
      "post": {
        "tags": [
          "Member Management"
        ],
        "summary": "팀 생성 요청",
        "description": "팀 생성을 요청합니다. 일반 직원은 승인 대기, 매니저는 즉시 생성됩니다.",
        "operationId": "createTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "잘못된 요청 - 필수 필드 누락 또는 유효하지 않은 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Validation failed: name: must not be blank",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "팀 생성 요청 성공 - 생성된 팀 ID 반환 (일반 직원은 승인 대기, 매니저는 즉시 생성)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "409": {
            "description": "충돌 - 동일한 이름의 팀이 이미 존재함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 409,
                  "message": "Team already exists",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/member/teams/{teamId}/delegate/{userId}": {
      "post": {
        "tags": [
          "Member Management"
        ],
        "summary": "팀장 위임",
        "description": "팀장직을 다른 팀원에게 위임합니다 (현 팀장 또는 매니저 가능).",
        "operationId": "delegateLeader",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "팀장 위임 성공"
          },
          "400": {
            "description": "잘못된 요청 - 팀에 속하지 않은 사용자에게 위임 시도",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "User is not a member of this team",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "팀 또는 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "Team not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - 팀장 또는 매니저 권한이 필요함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/teams/{teamId}/reject": {
      "post": {
        "tags": [
          "Manager Management"
        ],
        "summary": "팀 반려",
        "description": "팀 생성 요청을 반려합니다 (매니저 전용). 사유를 입력할 수 있습니다.",
        "operationId": "rejectTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamRejectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "팀 반려 성공"
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 권한이 필요하거나 같은 기업에 속하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "팀 또는 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "Team not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/teams/{teamId}/leader/{userId}": {
      "post": {
        "tags": [
          "Manager Management"
        ],
        "summary": "팀장 임명",
        "description": "특정 사용자에게 팀장 권한을 부여합니다 (매니저 전용).",
        "operationId": "assignLeader",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "잘못된 요청 - 팀에 속하지 않은 사용자이거나 유효하지 않은 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "User is not a member of this team",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 권한이 필요하거나 같은 기업에 속하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "팀 또는 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "Team not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "팀장 임명 성공"
          }
        }
      }
    },
    "/v1/manager/teams/{teamId}/approve": {
      "post": {
        "tags": [
          "Manager Management"
        ],
        "summary": "팀 승인",
        "description": "팀 생성 요청을 승인합니다 (매니저 전용).",
        "operationId": "approveTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 권한이 필요하거나 같은 기업에 속하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "팀 또는 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "Team not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "팀 승인 성공"
          }
        }
      }
    },
    "/v1/manager/job-titles": {
      "post": {
        "tags": [
          "Manager Management"
        ],
        "summary": "직급 생성",
        "description": "새로운 직급을 생성합니다 (매니저 전용).",
        "operationId": "createJobTitle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobTitleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "직급 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 직급 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Invalid job title data",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/invite": {
      "post": {
        "tags": [
          "Manager Management"
        ],
        "summary": "멤버 초대",
        "description": "이메일로 새로운 멤버를 기업에 초대합니다 (매니저 권한 필요).",
        "operationId": "inviteMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "초대 발송 성공 - 생성된 초대 ID 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "409": {
            "description": "충돌 - 이미 활성화된 초대가 존재함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 409,
                  "message": "Active invitation already exists",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 이메일 형식",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Invalid email format",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "기업을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "Company not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "로그아웃",
        "description": "Access Token을 블랙리스트에 추가하고 쿠키를 삭제합니다.",
        "operationId": "logout",
        "parameters": [
          {
            "name": "accessToken",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "로그아웃 성공 - Access Token이 블랙리스트에 추가되고 쿠키가 삭제됨"
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "로그인",
        "description": "이메일과 비밀번호로 로그인하여 Access/Refresh Token을 발급받습니다.",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "잘못된 요청 - 필수 필드 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Invalid argument",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 이메일 또는 비밀번호가 올바르지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "로그인 성공 - 쿠키로 Access/Refresh Token 발급",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/login/guest": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "게스트 로그인",
        "description": "게스트 계정으로 로그인하여 토큰을 쿠키로 발급받습니다.",
        "operationId": "guestLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "잘못된 요청 - 필수 필드 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Invalid argument",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "게스트 로그인 성공 - 쿠키로 Access/Refresh Token 발급 (Refresh Token은 1일 유효)"
          }
        }
      }
    },
    "/v1/member/me": {
      "get": {
        "tags": [
          "Member Management"
        ],
        "summary": "내 정보 조회",
        "description": "현재 로그인한 자신의 정보를 상세 조회합니다.",
        "operationId": "getMyInfo",
        "responses": {
          "200": {
            "description": "내 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Member Management"
        ],
        "summary": "회원 탈퇴",
        "description": "비밀번호 검증 후 회원을 탈퇴 처리합니다.",
        "operationId": "withdraw",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "회원 탈퇴 성공 - 응답 본문 없음"
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 비밀번호가 일치하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Password is incorrect",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Member Management"
        ],
        "summary": "내 프로필 수정",
        "description": "현재 로그인한 자신의 프로필 정보(텍스트 및 이미지)를 수정합니다.",
        "operationId": "updateProfile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "request"
                ],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/UserProfileUpdateRequest"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "프로필 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 데이터, 필수 필드 누락 또는 잘못된 파일 형식",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Validation failed: name: must not be blank",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/member/{memberId}": {
      "get": {
        "tags": [
          "Member Management"
        ],
        "summary": "회원 정보 조회",
        "description": "특정 회원의 공개 프로필을 조회합니다.",
        "operationId": "getMemberInfo",
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "회원 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "회원을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "User not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/member/job-titles": {
      "get": {
        "tags": [
          "Member Management"
        ],
        "summary": "직급 목록 조회",
        "description": "현재 소속된 회사의 모든 직급 목록을 조회합니다.",
        "operationId": "getJobTitles",
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "직급 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/employees": {
      "get": {
        "tags": [
          "Manager Management"
        ],
        "summary": "전체 사원 목록 조회",
        "description": "현재 기업의 모든 사원 목록을 페이징하여 조회합니다.",
        "operationId": "getAllEmployees",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "사원 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/invitations/validate": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "초대 코드 검증",
        "description": "이메일과 초대 코드를 검증하여 유효한 초대인지 확인합니다.",
        "operationId": "validateInvitation",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "초대를 찾을 수 없음 - 초대가 만료되었거나 존재하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "Invitation not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "초대 코드 검증 성공 - 초대 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 초대 코드 또는 이메일 불일치",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Invalid invitation code",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal/users/{userId}/teams": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "사용자 팀 정보 조회",
        "description": "타 서비스에서 사용자가 속한 팀 목록을 조회합니다.",
        "operationId": "getUserTeams",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "팀 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamInfoDto"
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "User not found",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal/users/{userId}/permissions": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "사용자 권한 정보 조회",
        "description": "파일 서비스 등 타 서비스에서 권한 검증을 위해 사용자의 역할, 회사, 팀 정보를 조회합니다.",
        "operationId": "getUserPermissions",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "권한 정보 조회 성공 - 사용자의 역할, 회사, 팀 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserPermissionResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "User not found",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal/users/{userId}/company": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "사용자 회사 정보 조회",
        "description": "타 서비스에서 사용자의 소속 회사 정보를 조회합니다.",
        "operationId": "getUserCompany",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "User not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "회사 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfoDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/check": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "헬스 체크",
        "description": "서비스 생존 여부를 확인합니다.",
        "operationId": "check",
        "responses": {
          "200": {
            "description": "서비스 정상 동작 중"
          }
        }
      }
    },
    "/v1/.well-known/jwks.json": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "JWK Set 조회",
        "description": "OAuth2 Resource Server에서 토큰 서명을 검증하기 위한 공개키 목록을 반환합니다.",
        "operationId": "keys",
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "JWK Set 반환 성공 - 토큰 검증을 위한 공개키 정보 포함",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/internal/v1/security/teams/{teamId}/member-check": {
      "get": {
        "tags": [
          "Internal Security API"
        ],
        "summary": "팀 멤버 권한 확인 (Internal)",
        "description": "타 서비스에서 사용자가 특정 팀의 멤버인지 확인합니다. X-Internal-Secret 헤더로 인증합니다.",
        "operationId": "checkMember",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Internal-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "서버 내부 오류 - 유효하지 않은 Internal Secret 포함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Invalid internal secret",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "권한 확인 성공 - 팀 멤버 여부 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 파라미터",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Invalid argument",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/internal/v1/security/teams/{teamId}/leader-check": {
      "get": {
        "tags": [
          "Internal Security API"
        ],
        "summary": "팀장 권한 확인 (Internal)",
        "description": "타 서비스에서 사용자가 특정 팀의 팀장인지 확인합니다. X-Internal-Secret 헤더로 인증합니다.",
        "operationId": "checkLeader",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Internal-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "서버 내부 오류 - 유효하지 않은 Internal Secret 포함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Invalid internal secret",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "권한 확인 성공 - 팀장 여부 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityCheckResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 파라미터",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Invalid argument",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/internal/v1/security/teams/{teamId}/company-check": {
      "get": {
        "tags": [
          "Internal Security API"
        ],
        "summary": "동일 회사 여부 확인 (Internal)",
        "description": "타 서비스에서 사용자와 팀이 동일한 회사에 속하는지 확인합니다. X-Internal-Secret 헤더로 인증합니다.",
        "operationId": "checkCompany",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-Internal-Secret",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "권한 확인 성공 - 동일 회사 여부 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityCheckResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류 - 유효하지 않은 Internal Secret 포함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Invalid internal secret",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 파라미터",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Invalid argument",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/member/teams/{teamId}": {
      "delete": {
        "tags": [
          "Member Management"
        ],
        "summary": "팀 해체",
        "description": "팀을 삭제합니다 (팀장 또는 매니저 가능).",
        "operationId": "dissolveTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "팀 해체 성공"
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "팀을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "Team not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - 팀장 또는 매니저 권한이 필요함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/member/teams/{teamId}/cancel": {
      "delete": {
        "tags": [
          "Member Management"
        ],
        "summary": "팀 생성 요청 취소",
        "description": "자신이 요청한 팀 생성을 취소합니다 (승인 대기 상태에서만 가능).",
        "operationId": "cancelTeamRequest",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "잘못된 요청 - 이미 승인된 팀이거나 취소할 수 없는 상태",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 400,
                  "message": "Team is already approved",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - 요청자 본인이 아님",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "팀을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "Team not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "팀 생성 요청 취소 성공"
          }
        }
      }
    },
    "/v1/member/me/profile-image": {
      "delete": {
        "tags": [
          "Member Management"
        ],
        "summary": "내 프로필 이미지 삭제",
        "description": "현재 로그인한 자신의 프로필 이미지를 삭제합니다.",
        "operationId": "deleteMyProfileImage",
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "200": {
            "description": "프로필 이미지 삭제 성공 - 기본 이미지로 변경됨",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/employees/{userId}/profile-image": {
      "delete": {
        "tags": [
          "Manager Management"
        ],
        "summary": "사원 프로필 이미지 초기화",
        "description": "특정 사원의 프로필 이미지를 기본 이미지로 리셋합니다.",
        "operationId": "resetProfileImage",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 500,
                  "message": "Internal server error occurred",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 401,
                  "message": "Authentication failed",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 404,
                  "message": "User not found",
                  "timestamp": 1234567890
                }
              }
            }
          },
          "204": {
            "description": "프로필 이미지 초기화 성공 - 응답 본문 없음"
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "status": 403,
                  "message": "Access denied",
                  "timestamp": 1234567890
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ChangePasswordRequest": {
        "required": [
          "newPassword",
          "oldPassword"
        ],
        "type": "object",
        "properties": {
          "oldPassword": {
            "type": "string"
          },
          "newPassword": {
            "maxLength": 2147483647,
            "minLength": 8,
            "pattern": "^(?=.*[A-Za-z])(?=.*\\d)(?=.*[@$!%*#?&])[A-Za-z\\d@$!%*#?&]{8,}$",
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "required": [
          "message",
          "status",
          "timestamp"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "timestamp": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "JobTitleRequest": {
        "required": [
          "isDefault",
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "직급명",
            "example": "대리"
          },
          "isDefault": {
            "type": "boolean",
            "description": "기본값 여부",
            "example": false
          }
        },
        "description": "직급 생성/수정 요청"
      },
      "JobTitleResponse": {
        "required": [
          "id",
          "isDefault",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Job Title ID",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "직급명"
          },
          "isDefault": {
            "type": "boolean",
            "description": "기본값 여부"
          }
        },
        "description": "직급 정보"
      },
      "CompanyInfoDto": {
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Company ID",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "회사명"
          }
        },
        "description": "회사 정보 요약"
      },
      "TeamInfoDto": {
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Team ID",
            "format": "int64"
          },
          "name": {
            "type": "string",
            "description": "팀 이름"
          },
          "color": {
            "type": "string",
            "description": "팀 색상"
          }
        },
        "description": "팀 정보 요약"
      },
      "UserResponseDto": {
        "required": [
          "email",
          "id",
          "name",
          "roles",
          "status",
          "teams"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "User ID",
            "format": "int64"
          },
          "email": {
            "type": "string",
            "description": "이메일"
          },
          "name": {
            "type": "string",
            "description": "이름"
          },
          "employeeId": {
            "type": "string",
            "description": "사번"
          },
          "roles": {
            "uniqueItems": true,
            "type": "array",
            "description": "권한 목록",
            "items": {
              "type": "string",
              "description": "권한 목록"
            }
          },
          "status": {
            "type": "string",
            "description": "상태"
          },
          "company": {
            "$ref": "#/components/schemas/CompanyInfoDto"
          },
          "jobTitle": {
            "$ref": "#/components/schemas/JobTitleResponse"
          },
          "teams": {
            "type": "array",
            "description": "소속 팀 목록",
            "items": {
              "$ref": "#/components/schemas/TeamInfoDto"
            }
          },
          "profileImageId": {
            "type": "integer",
            "description": "프로필 이미지 ID",
            "format": "int64"
          }
        },
        "description": "유저 정보 상세 응답"
      },
      "JoinRequest": {
        "required": [
          "code",
          "email",
          "name",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "이메일",
            "example": "employee@company.com"
          },
          "code": {
            "type": "string",
            "description": "초대 코드",
            "example": "INV-123456"
          },
          "password": {
            "type": "string",
            "description": "비밀번호",
            "example": "Password123!"
          },
          "name": {
            "type": "string",
            "description": "이름",
            "example": "Jane Doe"
          },
          "employeeId": {
            "type": "string",
            "description": "사번 (Optional)",
            "example": "EMP-001"
          }
        },
        "description": "사원 가입 요청"
      },
      "CompanySignupRequest": {
        "required": [
          "companyName",
          "email",
          "name",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "이메일 주소",
            "example": "admin@company.com"
          },
          "password": {
            "type": "string",
            "description": "비밀번호",
            "example": "Password123!"
          },
          "name": {
            "type": "string",
            "description": "관리자 이름",
            "example": "John Doe"
          },
          "companyName": {
            "type": "string",
            "description": "회사명",
            "example": "Acme Corp"
          }
        },
        "description": "기업 회원가입 요청"
      },
      "RefreshRequest": {
        "required": [
          "refreshToken"
        ],
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string",
            "description": "Refresh Token (Optional if cookie is present)"
          }
        },
        "description": "토큰 갱신 요청"
      },
      "TokenResponse": {
        "required": [
          "accessToken",
          "tokenType"
        ],
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string",
            "description": "Access Token"
          },
          "refreshToken": {
            "type": "string",
            "description": "Refresh Token (Optional)"
          },
          "tokenType": {
            "type": "string",
            "description": "Token Type",
            "example": "Bearer"
          }
        },
        "description": "토큰 응답"
      },
      "TeamRequest": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "팀 이름",
            "example": "Development"
          },
          "description": {
            "type": "string",
            "description": "팀 설명",
            "example": "Backend Development Team"
          },
          "color": {
            "type": "string",
            "description": "팀 색상 (Hex Code)",
            "example": "#FF5733"
          },
          "memberIds": {
            "type": "array",
            "description": "팀원 ID 목록 (MANAGER 권한 전용)",
            "example": [1, 2, 3],
            "items": {
              "type": "integer",
              "description": "팀원 ID 목록 (MANAGER 권한 전용)",
              "format": "int64"
            }
          },
          "leaderId": {
            "type": "integer",
            "description": "팀장 ID (MANAGER 권한 전용, memberIds 중 한 명이어야 함)",
            "format": "int64",
            "example": 1
          }
        },
        "description": "팀 생성/수정 요청"
      },
      "TeamRejectRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string"
          }
        }
      },
      "InvitationRequest": {
        "required": [
          "email",
          "role"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "초대할 이메일",
            "example": "newuser@company.com"
          },
          "role": {
            "type": "string",
            "description": "부여할 권한",
            "example": "USER",
            "enum": [
              "USER",
              "ADMIN",
              "MANAGER"
            ]
          }
        },
        "description": "초대 요청"
      },
      "LoginRequest": {
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "이메일",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "description": "비밀번호",
            "example": "password"
          }
        },
        "description": "로그인 요청"
      },
      "LoginResponse": {
        "required": [
          "message",
          "tokenType"
        ],
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "응답 메시지",
            "example": "Login successful"
          },
          "tokenType": {
            "type": "string",
            "description": "Token Type",
            "example": "Bearer"
          }
        },
        "description": "로그인 응답"
      },
      "GuestLoginRequest": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "게스트 이름",
            "example": "Guest User"
          },
          "meetingId": {
            "type": "string",
            "description": "참여할 미팅 ID (Optional)",
            "example": "meeting-123"
          }
        },
        "description": "게스트 로그인 요청"
      },
      "UserProfileUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "maxLength": 50,
            "minLength": 2,
            "type": "string",
            "description": "이름",
            "example": "Jane Doe"
          },
          "employeeId": {
            "maxLength": 50,
            "minLength": 0,
            "type": "string",
            "description": "사번",
            "example": "EMP-001"
          },
          "jobTitleId": {
            "type": "integer",
            "description": "직급 ID",
            "format": "int64",
            "example": 1
          }
        },
        "description": "유저 정보 수정 요청"
      },
      "Pageable": {
        "type": "object",
        "properties": {
          "page": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PageResponse": {
        "required": [
          "content",
          "last",
          "pageNumber",
          "pageSize",
          "totalElements",
          "totalPages"
        ],
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "description": "데이터 목록",
            "items": {
              "type": "object",
              "description": "데이터 목록"
            }
          },
          "pageNumber": {
            "type": "integer",
            "description": "현재 페이지 번호 (0-indexed)",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "페이지 크기",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "description": "전체 요소 수",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "description": "전체 페이지 수",
            "format": "int32"
          },
          "last": {
            "type": "boolean",
            "description": "마지막 페이지 여부"
          }
        },
        "description": "페이징 응답"
      },
      "InvitationResponse": {
        "required": [
          "companyName",
          "email",
          "role"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "초대된 이메일"
          },
          "companyName": {
            "type": "string",
            "description": "초대된 회사명"
          },
          "role": {
            "type": "string",
            "description": "부여된 권한",
            "enum": [
              "USER",
              "ADMIN",
              "MANAGER"
            ]
          }
        },
        "description": "초대 검증 응답"
      },
      "UserPermissionResponse": {
        "required": [
          "roles",
          "teamIds",
          "userId"
        ],
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "description": "User ID",
            "format": "int64"
          },
          "roles": {
            "uniqueItems": true,
            "type": "array",
            "description": "권한 목록",
            "items": {
              "type": "string",
              "description": "권한 목록"
            }
          },
          "companyId": {
            "type": "integer",
            "description": "소속 회사 ID",
            "format": "int64"
          },
          "teamIds": {
            "type": "array",
            "description": "소속 팀 ID 목록",
            "items": {
              "type": "integer",
              "description": "소속 팀 ID 목록",
              "format": "int64"
            }
          }
        },
        "description": "유저 권한 및 소속 정보 응답"
      },
      "SecurityCheckResponse": {
        "required": [
          "authorized"
        ],
        "type": "object",
        "properties": {
          "authorized": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "WithdrawRequest": {
        "required": [
          "password"
        ],
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "description": "비밀번호",
            "example": "password123!"
          },
          "reason": {
            "type": "string",
            "description": "탈퇴 사유",
            "example": "더 이상 서비스를 사용하지 않음"
          }
        },
        "description": "회원 탈퇴 요청"
      }
    },
    "securitySchemes": {
[...]
