{
  "openapi": "3.0.1",
  "info": {
    "title": "OnMeet Auth Service API",
    "description": "사용자 인증, 인가 및 기업/팀 관리 API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.onmeet.cloud/auth",
      "description": "Production Server"
    },
    {
      "url": "http://localhost:8080/auth",
      "description": "Local Gateway Server"
    },
    {
      "url": "http://localhost:8081/auth",
      "description": "Local Direct Server"
    }
  ],
  "security": [
    {
      "Bearer Authentication": []
    }
  ],
  "tags": [
    {
      "name": "Team Management",
      "description": "팀 관리 API (생성, 승인, 위임, 해체)"
    },
    {
      "name": "Member Management",
      "description": "회원 프로필 및 팀 관리 API"
    },
    {
      "name": "Internal User API",
      "description": "내부 서비스 간 사용자 정보 조회 API (Gateway 인증 필요)"
    },
    {
      "name": "Internal Security API",
      "description": "타 서비스 전용 권한 검증 API"
    },
    {
      "name": "Manager Management",
      "description": "기업 관리자 전용 API"
    },
    {
      "name": "Internal Team API",
      "description": "내부 서비스 간 팀 정보 조회 API (Gateway 인증 필요)"
    },
    {
      "name": "User Management",
      "description": "사용자 프로필 및 정보 관리 API"
    },
    {
      "name": "Auth - JWK",
      "description": "JWT 검증을 위한 공개키(JWK) 제공 API"
    },
    {
      "name": "Authentication",
      "description": "인증/인가 및 토큰 관리 API"
    },
    {
      "name": "Guest",
      "description": "게스트 초대 및 참여 API"
    },
    {
      "name": "Job Title Management",
      "description": "직급 관리 API"
    }
  ],
  "paths": {
    "/v1/member/me/password": {
      "put": {
        "tags": [
          "Member Management"
        ],
        "summary": "비밀번호 변경",
        "description": "기존 비밀번호 확인 후 새 비밀번호로 변경합니다.",
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "잘못된 요청 - 기존 비밀번호가 일치하지 않거나 새 비밀번호 형식이 유효하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_010",
                  "status": 401,
                  "message": "현재 비밀번호가 일치하지 않습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "비밀번호 변경 성공"
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/job-titles/{id}": {
      "put": {
        "tags": [
          "Manager Management"
        ],
        "summary": "직급 수정",
        "description": "기존 직급 정보를 수정합니다 (매니저 전용).",
        "operationId": "updateJobTitle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobTitleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "직급 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleResponse"
                }
              }
            }
          },
          "404": {
            "description": "직급을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_014",
                  "status": 404,
                  "message": "해당 직급을 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 직급 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: 유효하지 않은 직급 데이터입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_ACCESS_DENIED",
                  "status": 403,
                  "message": "접근이 거부되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Manager Management"
        ],
        "summary": "직급 삭제",
        "description": "직급을 삭제합니다 (매니저 전용).",
        "operationId": "deleteJobTitle",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "직급을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_014",
                  "status": 404,
                  "message": "해당 직급을 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_ACCESS_DENIED",
                  "status": 403,
                  "message": "접근이 거부되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "직급 삭제 성공"
          }
        }
      }
    },
    "/v1/manager/employees/{userId}/deactivate": {
      "put": {
        "tags": [
          "Manager Management"
        ],
        "summary": "사원 계정 비활성화",
        "description": "특정 사원의 계정을 비활성화합니다.",
        "operationId": "deactivateUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 사용자 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: 유효하지 않은 데이터입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_ACCESS_DENIED",
                  "status": 403,
                  "message": "접근이 거부되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_006",
                  "status": 404,
                  "message": "해당 사용자를 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "사원 계정 비활성화 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/employees/{userId}/activate": {
      "put": {
        "tags": [
          "Manager Management"
        ],
        "summary": "사원 계정 활성화",
        "description": "특정 사원의 계정을 활성화합니다.",
        "operationId": "activateUser",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 사용자 ID",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: 유효하지 않은 데이터입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_ACCESS_DENIED",
                  "status": 403,
                  "message": "접근이 거부되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "사원 계정 활성화 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_006",
                  "status": 404,
                  "message": "해당 사용자를 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "get": {
        "tags": [
          "User Management"
        ],
        "summary": "사용자 정보 조회",
        "description": "특정 사용자의 정보를 상세 조회합니다.",
        "operationId": "getUserInfo",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "*/*": {
                "example": {
                  "error": "User not found"
                }
              }
            }
          },
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "User Management"
        ],
        "summary": "내 프로필 수정",
        "description": "현재 로그인한 자신의 프로필 정보를 수정합니다.",
        "operationId": "updateUserProfile",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfileUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "수정 성공 (수정된 정보 반환)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (유효성 검사 실패 등)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/deactivate": {
      "put": {
        "tags": [
          "User Management"
        ],
        "summary": "사용자 비활성화",
        "description": "특정 사용자의 계정을 비활성화합니다 (동일 회사 매니저 권한 필요).",
        "operationId": "deactivateUser_1",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "비활성화 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 (매니저 아님 또는 타사 사용자)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/activate": {
      "put": {
        "tags": [
          "User Management"
        ],
        "summary": "사용자 활성화",
        "description": "특정 사용자의 계정을 활성화합니다 (동일 회사 매니저 권한 필요).",
        "operationId": "activateUser_1",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "활성화 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 (매니저 아님 또는 타사 사용자)",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/job-titles/{id}": {
      "put": {
        "tags": [
          "Job Title Management"
        ],
        "summary": "직급 수정",
        "description": "기존 직급 정보를 수정합니다 (매니저 전용).",
        "operationId": "updateJobTitle_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobTitleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "직급을 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleResponse"
                }
              }
            }
          },
          "200": {
            "description": "수정 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Job Title Management"
        ],
        "summary": "직급 삭제",
        "description": "직급을 삭제합니다 (매니저 전용).",
        "operationId": "deleteJobTitle_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "직급을 찾을 수 없음"
          },
          "403": {
            "description": "권한 없음"
          },
          "200": {
            "description": "삭제 성공"
          }
        }
      }
    },
    "/v1/register/join": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "사원(멤버) 회원가입",
        "description": "초대받은 사원이 기업에 합류하여 계정을 생성합니다.",
        "operationId": "registerEmployee",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "request"
                ],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/JoinRequest"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "사원 회원가입 성공 - 생성된 사용자 ID 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 초대 코드 또는 필수 필드 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_003",
                  "status": 400,
                  "message": "유효하지 않은 초대 코드이거나 이메일이 일치하지 않습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "409": {
            "description": "충돌 - 이미 존재하는 이메일",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_001",
                  "status": 409,
                  "message": "이미 사용 중인 이메일입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "404": {
            "description": "초대를 찾을 수 없음 - 초대가 만료되었거나 존재하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_002",
                  "status": 404,
                  "message": "초대 코드를 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/register/company": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "기업(관리자) 회원가입",
        "description": "새로운 기업을 등록하고 관리자 계정을 생성합니다.",
        "operationId": "signupCompany",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "request"
                ],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/CompanySignupRequest"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "기업 회원가입 성공 - 생성된 사용자 ID 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "409": {
            "description": "충돌 - 이미 존재하는 이메일 또는 기업",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_001",
                  "status": 409,
                  "message": "이미 사용 중인 이메일입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 필수 필드 누락 또는 유효하지 않은 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: email: 유효한 이메일이 아닙니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "토큰 갱신",
        "description": "Refresh Token을 사용하여 새로운 Access Token을 발급받습니다.",
        "operationId": "refresh",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "토큰 갱신 성공 - 새로운 Access/Refresh Token 발급",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - Refresh Token 누락 또는 유효하지 않은 토큰 형식",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_005",
                  "status": 400,
                  "message": "유효하지 않은 리프레시 토큰입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 만료되었거나 유효하지 않은 Refresh Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_005",
                  "status": 400,
                  "message": "유효하지 않은 리프레시 토큰입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/password/find": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "비밀번호 찾기",
        "description": "\n            이메일 주소를 입력받아 임시 비밀번호를 발급하고 이메일로 전송합니다.\n\n            **주요 기능:**\n            - 등록된 이메일 주소로 8자리 임시 비밀번호 발급\n            - 임시 비밀번호는 영문 대소문자, 숫자, 특수문자(!@#$%^&*)로 구성\n            - 사용자의 isPasswordReset 플래그를 true로 설정\n            - Kafka를 통해 email-service로 이메일 발송 요청\n\n            **보안 주의사항:**\n            - 임시 비밀번호로 로그인 후 반드시 비밀번호를 변경해야 합니다\n            - 비밀번호 변경 시 isPasswordReset 플래그가 자동으로 false로 초기화됩니다\n\n            **이메일 템플릿:**\n            - 템플릿명: temporary-password\n            - 변수: userName, temporaryPassword\n        ",
        "operationId": "findPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindPasswordRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "\n                임시 비밀번호 발급 성공\n                - 8자리 임시 비밀번호가 생성되어 사용자 이메일로 발송되었습니다\n                - 사용자의 isPasswordReset 플래그가 true로 설정되었습니다\n                - 이메일 발송은 비동기로 처리되며 Kafka를 통해 email-service로 전달됩니다\n            ",
            "content": {
              "application/json": {
                "examples": {
                  "성공 응답": {
                    "description": "성공 응답",
                    "value": {
                      "message": "Temporary password has been sent to your email"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "\n                사용자를 찾을 수 없음\n                - 입력한 이메일 주소로 등록된 사용자가 없는 경우\n                - 보안상 이유로 이메일 존재 여부는 클라이언트에 명확히 알리지 않을 수 있습니다\n            ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "사용자 없음": {
                    "description": "사용자 없음",
                    "value": {
                      "code": "AUTH_011",
                      "status": 404,
                      "message": "해당 이메일로 등록된 사용자가 없습니다",
                      "timestamp": 1710000000000
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "\n                잘못된 요청 - 유효하지 않은 이메일 형식\n                - 이메일 형식이 올바르지 않은 경우\n                - 필수 필드(email)가 누락된 경우\n            ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "이메일 형식 오류": {
                    "description": "이메일 형식 오류",
                    "value": {
                      "code": "COMMON_VALIDATION_FAILED",
                      "status": 400,
                      "message": "입력값 검증 실패: email: 유효한 이메일이 아닙니다",
                      "timestamp": 1710000000000
                    }
                  },
                  "필수 필드 누락": {
                    "description": "필수 필드 누락",
                    "value": {
                      "code": "COMMON_VALIDATION_FAILED",
                      "status": 400,
                      "message": "입력값 검증 실패: email: 필수 항목입니다",
                      "timestamp": 1710000000000
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "\n                서버 내부 오류\n                - 임시 비밀번호 생성 중 오류 발생\n                - 데이터베이스 저장 실패\n                - 이메일 발송 요청 실패 (Kafka 연결 오류 등)\n            ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "서버 오류": {
                    "description": "서버 오류",
                    "value": {
                      "code": "COMMON_INTERNAL_ERROR",
                      "status": 500,
                      "message": "서버 내부 오류가 발생했습니다",
                      "timestamp": 1710000000000
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/member/teams": {
      "post": {
        "tags": [
          "Member Management"
        ],
        "summary": "팀 생성 요청",
        "description": "팀 생성을 요청합니다. 일반 직원은 승인 대기, 매니저는 즉시 생성됩니다.",
        "operationId": "createTeam",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "잘못된 요청 - 필수 필드 누락 또는 유효하지 않은 데이터",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: name: 필수 항목입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "팀 생성 요청 성공 - 생성된 팀 ID 반환 (일반 직원은 승인 대기, 매니저는 즉시 생성)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "409": {
            "description": "충돌 - 동일한 이름의 팀이 이미 존재함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_019",
                  "status": 409,
                  "message": "이미 같은 이름의 팀이 존재합니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/member/teams/{teamId}/delegate/{userId}": {
      "post": {
        "tags": [
          "Member Management"
        ],
        "summary": "팀장 위임",
        "description": "팀장직을 다른 팀원에게 위임합니다 (현 팀장 또는 매니저 가능).",
        "operationId": "delegateLeader",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "팀장 위임 성공"
          },
          "403": {
            "description": "권한 없음 - 팀장 또는 매니저 권한이 필요함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_ACCESS_DENIED",
                  "status": 403,
                  "message": "접근이 거부되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 팀에 속하지 않은 사용자에게 위임 시도",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_030",
                  "status": 400,
                  "message": "위임할 팀장은 같은 회사에 속해야 합니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "404": {
            "description": "팀 또는 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_025",
                  "status": 404,
                  "message": "해당 팀을 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/teams/{teamId}/reject": {
      "post": {
        "tags": [
          "Manager Management"
        ],
        "summary": "팀 반려",
        "description": "팀 생성 요청을 반려합니다 (매니저 전용). 사유를 입력할 수 있습니다.",
        "operationId": "rejectTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamRejectRequest"
              }
            }
          }
        },
        "responses": {
          "403": {
            "description": "권한 없음 - MANAGER 권한이 필요하거나 같은 기업에 속하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_ACCESS_DENIED",
                  "status": 403,
                  "message": "접근이 거부되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "팀 반려 성공"
          },
          "404": {
            "description": "팀 또는 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_025",
                  "status": 404,
                  "message": "해당 팀을 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/teams/{teamId}/leader/{userId}": {
      "post": {
        "tags": [
          "Manager Management"
        ],
        "summary": "팀장 임명",
        "description": "특정 사용자에게 팀장 권한을 부여합니다 (매니저 전용).",
        "operationId": "assignLeader",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "권한 없음 - MANAGER 권한이 필요하거나 같은 기업에 속하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_ACCESS_DENIED",
                  "status": 403,
                  "message": "접근이 거부되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "404": {
            "description": "팀 또는 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_025",
                  "status": 404,
                  "message": "해당 팀을 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "팀장 임명 성공"
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 팀에 속하지 않은 사용자이거나 유효하지 않은 요청",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_031",
                  "status": 400,
                  "message": "현재 리더가 팀 멤버가 아닙니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/teams/{teamId}/approve": {
      "post": {
        "tags": [
          "Manager Management"
        ],
        "summary": "팀 승인",
        "description": "팀 생성 요청을 승인합니다 (매니저 전용).",
        "operationId": "approveTeam",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "권한 없음 - MANAGER 권한이 필요하거나 같은 기업에 속하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_ACCESS_DENIED",
                  "status": 403,
                  "message": "접근이 거부되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "404": {
            "description": "팀 또는 사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_025",
                  "status": 404,
                  "message": "해당 팀을 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "팀 승인 성공"
          }
        }
      }
    },
    "/v1/manager/job-titles": {
      "post": {
        "tags": [
          "Manager Management"
        ],
        "summary": "직급 생성",
        "description": "새로운 직급을 생성합니다 (매니저 전용).",
        "operationId": "createJobTitle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobTitleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 직급 정보",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: 유효하지 않은 직급 데이터입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_ACCESS_DENIED",
                  "status": 403,
                  "message": "접근이 거부되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "직급 생성 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/invite": {
      "post": {
        "tags": [
          "Manager Management"
        ],
        "summary": "멤버 초대",
        "description": "이메일 리스트로 새로운 멤버를 기업에 초대합니다 (매니저 권한 필요). 역할은 USER로 고정됩니다.",
        "operationId": "inviteMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvitationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "409": {
            "description": "충돌 - 이미 활성화된 초대가 존재함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_037",
                  "status": 409,
                  "message": "해당 이메일로 이미 유효한 초대가 존재합니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 이메일 형식 또는 빈 리스트",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: email: 유효한 이메일이 아닙니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "404": {
            "description": "기업을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_035",
                  "status": 404,
                  "message": "해당 회사를 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_ACCESS_DENIED",
                  "status": 403,
                  "message": "접근이 거부되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "초대 발송 성공 - 생성된 초대 ID 리스트 반환",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/invite/single": {
      "post": {
        "tags": [
          "Manager Management"
        ],
        "summary": "단일 멤버 초대 (역할 지정)",
        "description": "이메일과 역할을 지정하여 단일 멤버를 초대합니다 (매니저 권한 필요).",
        "operationId": "inviteSingleMember",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleInvitationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "초대 발송 성공 - 생성된 초대 ID 반환",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 권한 필요",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "충돌 - 이미 활성화된 초대가 존재함",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 이메일 또는 역할",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "로그아웃",
        "description": "Access Token을 블랙리스트에 추가하고 쿠키를 삭제합니다.",
        "operationId": "logout",
        "parameters": [
          {
            "name": "accessToken",
            "in": "cookie",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "로그아웃 성공 - Access Token이 블랙리스트에 추가되고 쿠키가 삭제됨"
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "로그인",
        "description": "이메일과 비밀번호로 로그인하여 Access/Refresh Token을 발급받습니다.",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "로그인 성공 - 쿠키로 Access/Refresh Token 발급",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 이메일 또는 비밀번호가 올바르지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "이메일 또는 비밀번호가 일치하지 않습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 필수 필드 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: 필수 항목이 누락되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/login/guest": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "게스트 로그인",
        "description": "게스트 계정으로 로그인하여 토큰을 쿠키로 발급받습니다.",
        "operationId": "guestLogin",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestLoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "잘못된 요청 - 필수 필드 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: 필수 항목이 누락되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "게스트 로그인 성공 - 쿠키로 Access/Refresh Token 발급 (Refresh Token은 1일 유효)"
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/guests/invite": {
      "post": {
        "tags": [
          "Guest"
        ],
        "summary": "게스트 초대 메일 발송",
        "description": "호스트가 게스트에게 특정 회의실의 초대 메일을 발송합니다.",
        "operationId": "inviteGuest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GuestInviteRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "게스트 초대 메일 발송 성공 - 응답 본문 없음"
          },
          "403": {
            "description": "권한 없음 - 해당 회의실의 호스트만 초대 가능",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_043",
                  "status": 403,
                  "message": "해당 회의실의 호스트만 게스트를 초대할 수 있습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "404": {
            "description": "초대자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_042",
                  "status": 404,
                  "message": "초대자 정보를 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/teams": {
      "post": {
        "tags": [
          "Team Management"
        ],
        "summary": "팀 생성 요청",
        "description": "팀 생성을 요청합니다. 일반 직원은 승인 대기, 매니저는 즉시 생성됩니다.",
        "operationId": "createTeam_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "팀 생성 성공 (Team ID 반환)",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "*/*": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 (팀 이름 중복 등)",
            "content": {
              "*/*": {
                "example": {
                  "error": "Team already exists"
                }
              }
            }
          }
        }
      }
    },
    "/teams/{teamId}/reject": {
      "post": {
        "tags": [
          "Team Management"
        ],
        "summary": "팀 반려",
        "description": "팀 생성 요청을 반려(삭제)합니다 (매니저 전용).",
        "operationId": "rejectTeam_1",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "반려 성공"
          },
          "404": {
            "description": "팀 또는 사용자를 찾을 수 없음"
          },
          "403": {
            "description": "권한 없음 (매니저 아님)"
          }
        }
      }
    },
    "/teams/{teamId}/leader/{userId}": {
      "post": {
        "tags": [
          "Team Management"
        ],
        "summary": "팀장 임명",
        "description": "특정 사용자에게 팀장 권한을 부여합니다 (매니저 전용).",
        "operationId": "assignLeader_1",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "임명 성공"
          },
          "404": {
            "description": "팀 또는 사용자를 찾을 수 없음"
          },
          "400": {
            "description": "잘못된 요청 (팀에 속하지 않은 사용자 등)"
          },
          "403": {
            "description": "권한 없음 (매니저 아님)"
          }
        }
      }
    },
    "/teams/{teamId}/delegate/{userId}": {
      "post": {
        "tags": [
          "Team Management"
        ],
        "summary": "팀장 위임",
        "description": "팀장직을 다른 팀원에게 위임합니다 (현 팀장 또는 매니저 가능).",
        "operationId": "delegateLeader_1",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "위임 성공"
          },
          "404": {
            "description": "팀 또는 사용자를 찾을 수 없음"
          },
          "400": {
            "description": "잘못된 요청 (팀에 속하지 않은 사용자 등)"
          },
          "403": {
            "description": "권한 없음 (팀장 또는 매니저 아님)"
          }
        }
      }
    },
    "/teams/{teamId}/approve": {
      "post": {
        "tags": [
          "Team Management"
        ],
        "summary": "팀 승인",
        "description": "팀 생성 요청을 승인합니다 (매니저 전용).",
        "operationId": "approveTeam_1",
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "404": {
            "description": "팀 또는 사용자를 찾을 수 없음"
          },
          "200": {
            "description": "승인 성공"
          },
          "403": {
            "description": "권한 없음 (매니저 아님)"
          }
        }
      }
    },
    "/job-titles": {
      "get": {
        "tags": [
          "Job Title Management"
        ],
        "summary": "직급 목록 조회",
        "description": "현재 소속된 회사의 모든 직급 목록을 조회합니다.",
        "operationId": "getJobTitles_1",
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobTitleResponse"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Job Title Management"
        ],
        "summary": "직급 생성",
        "description": "새로운 직급을 생성합니다 (매니저 전용).",
        "operationId": "createJobTitle_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobTitleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "생성 성공",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleResponse"
                }
              }
            }
          },
          "403": {
            "description": "권한 없음",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/internal/users/exists/batch": {
      "post": {
        "tags": [
          "Internal User API"
        ],
        "summary": "다중 사용자 존재 여부 확인",
        "description": "여러 사용자의 존재 여부를 일괄 확인합니다. (내부 서비스 전용)",
        "operationId": "checkBatchUserExists",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUserExistsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "다중 사용자 존재 여부 확인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUserExistsResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - userIds 필드 누락 또는 빈 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: userIds: 비어 있을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "내부 인증 실패 - 유효하지 않은 Gateway Secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_046",
                  "status": 401,
                  "message": "유효하지 않은 내부 인증 시크릿입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/internal/users/batch": {
      "post": {
        "tags": [
          "Internal User API"
        ],
        "summary": "다중 사용자 정보 조회",
        "description": "여러 사용자의 기본 정보를 일괄 조회합니다. (내부 서비스 전용)",
        "operationId": "getBatchUserInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchUserInfoRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "다중 사용자 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchUserInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - userIds 필드 누락 또는 빈 배열",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: userIds: 비어 있을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "내부 인증 실패 - 유효하지 않은 Gateway Secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_046",
                  "status": 401,
                  "message": "유효하지 않은 내부 인증 시크릿입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/internal/teams/membership/check": {
      "post": {
        "tags": [
          "Internal Team API"
        ],
        "summary": "팀 멤버십 확인",
        "description": "사용자가 특정 팀의 멤버인지 확인합니다. (내부 서비스 전용)",
        "operationId": "checkTeamMembership",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TeamMembershipRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "400": {
            "description": "잘못된 요청 - teamId 또는 userId 필드 누락",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: 유효하지 않은 데이터입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "내부 인증 실패 - 유효하지 않은 Gateway Secret",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_046",
                  "status": 401,
                  "message": "유효하지 않은 내부 인증 시크릿입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "팀 멤버십 확인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembershipResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/member/me": {
      "get": {
        "tags": [
          "Member Management"
        ],
        "summary": "내 정보 조회",
        "description": "현재 로그인한 자신의 정보를 상세 조회합니다.",
        "operationId": "getMyInfo",
        "responses": {
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "내 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Member Management"
        ],
        "summary": "회원 탈퇴",
        "description": "비밀번호 검증 후 회원을 탈퇴 처리합니다.",
        "operationId": "withdraw",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "회원 탈퇴 성공 - 응답 본문 없음"
          },
          "400": {
            "description": "잘못된 요청 - 비밀번호가 일치하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_009",
                  "status": 401,
                  "message": "비밀번호가 일치하지 않습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Member Management"
        ],
        "summary": "내 프로필 수정",
        "description": "현재 로그인한 자신의 프로필 정보(텍스트 및 이미지)를 수정합니다.",
        "operationId": "updateProfile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "request"
                ],
                "type": "object",
                "properties": {
                  "request": {
                    "$ref": "#/components/schemas/UserProfileUpdateRequest"
                  },
                  "profileImage": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "프로필 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 데이터, 필수 필드 누락 또는 잘못된 파일 형식",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_VALIDATION_FAILED",
                  "status": 400,
                  "message": "입력값 검증 실패: name: 필수 항목입니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/company": {
      "patch": {
        "tags": [
          "Manager Management"
        ],
        "summary": "회사 정보 수정",
        "description": "현재 로그인한 관리자의 회사 정보를 수정합니다.",
        "operationId": "updateCompany",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCompanyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "404": {
            "description": "회사를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_035",
                  "status": 404,
                  "message": "해당 회사를 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_ACCESS_DENIED",
                  "status": 403,
                  "message": "접근이 거부되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "회사 정보 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/member/{memberId}": {
      "get": {
        "tags": [
          "Member Management"
        ],
        "summary": "회원 정보 조회",
        "description": "특정 회원의 공개 프로필을 조회합니다.",
        "operationId": "getMemberInfo",
        "parameters": [
          {
            "name": "memberId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "회원 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "404": {
            "description": "회원을 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_006",
                  "status": 404,
                  "message": "해당 사용자를 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/member/job-titles": {
      "get": {
        "tags": [
          "Member Management"
        ],
        "summary": "직급 목록 조회",
        "description": "현재 소속된 회사의 모든 직급 목록을 조회합니다.",
        "operationId": "getJobTitles",
        "responses": {
          "200": {
            "description": "직급 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobTitleResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/manager/employees": {
      "get": {
        "tags": [
          "Manager Management"
        ],
        "summary": "전체 사원 목록 조회",
        "description": "현재 기업의 모든 사원 목록을 페이징하여 조회합니다.",
        "operationId": "getAllEmployees",
        "parameters": [
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "권한 없음 - MANAGER 또는 ADMIN 권한이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_ACCESS_DENIED",
                  "status": 403,
                  "message": "접근이 거부되었습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "401": {
            "description": "인증 실패 - 로그인이 필요합니다",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_004",
                  "status": 401,
                  "message": "인증에 실패했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "사원 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invitations/validate": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "초대 코드 검증",
        "description": "이메일과 초대 코드를 검증하여 유효한 초대인지 확인합니다.",
        "operationId": "validateInvitation",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "잘못된 요청 - 유효하지 않은 초대 코드 또는 이메일 불일치",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_003",
                  "status": 400,
                  "message": "유효하지 않은 초대 코드이거나 이메일이 일치하지 않습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "200": {
            "description": "초대 코드 검증 성공 - 초대 정보 반환",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvitationResponse"
                }
              }
            }
          },
          "500": {
            "description": "서버 내부 오류",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "COMMON_INTERNAL_ERROR",
                  "status": 500,
                  "message": "서버 내부 오류가 발생했습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          },
          "404": {
            "description": "초대를 찾을 수 없음 - 초대가 만료되었거나 존재하지 않음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_002",
                  "status": 404,
                  "message": "초대 코드를 찾을 수 없습니다",
                  "timestamp": 1710000000000
                }
              }
            }
          }
        }
      }
    },
    "/v1/internal/users/{userId}/teams": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "사용자 팀 정보 조회",
        "description": "타 서비스에서 사용자가 속한 팀 목록을 조회합니다.",
        "operationId": "getUserTeams",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "팀 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamInfoDto"
                }
              }
            }
          },
          "404": {
            "description": "사용자를 찾을 수 없음",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "code": "AUTH_006",
[...]
