{"openapi":"3.0.1","info":{"title":"OnMeet AI Service API","description":"회의록 생성, STT, 요약 등 AI 관련 API","version":"1.0"},"servers":[{"url":"https://api.onmeet.cloud","description":"Production Server"},{"url":"http://localhost:8082","description":"Local Development Server"}],"security":[{"Bearer Authentication":[]}],"tags":[{"name":"Minutes","description":"회의록 조회/수정/재생성 API"},{"name":"AI","description":"AI 관련 서비스 API"}],"paths":{"/v1/rooms/{roomId}/minutes":{"get":{"tags":["Minutes"],"summary":"회의록 조회","description":"roomId로 해당 회의의 회의록을 조회합니다. AI가 생성한 요약 및 원본 트랜스크립트 정보를 포함합니다.","operationId":"get","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"401":{"description":"인증 필요 - 유효한 JWT 토큰이 없거나 만료된 경우","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"code":"GATEWAY_001","status":401,"message":"인증 토큰이 없습니다.","timestamp":1710000000000}}}},"200":{"description":"회의록 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MinutesResponse"}}}},"404":{"description":"해당 회의실의 회의록을 찾을 수 없는 경우","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"AI_001 - 회의록 없음":{"description":"AI_001 - 회의록 없음","value":{"code":"AI_001","status":404,"message":"해당 회의실의 회의록을 찾을 수 없습니다","timestamp":1710000000000}}}}}},"500":{"description":"서버 내부 오류 - S3 읽기 실패 또는 트랜스크립트 파싱 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"AI_002 - S3 읽기 실패":{"description":"AI_002 - S3 읽기 실패","value":{"code":"AI_002","status":500,"message":"S3에서 파일을 읽는 중 오류가 발생했습니다","timestamp":1710000000000}},"AI_003 - 파싱 실패":{"description":"AI_003 - 파싱 실패","value":{"code":"AI_003","status":500,"message":"트랜스크립트 JSON 파싱 중 오류가 발생했습니다","timestamp":1710000000000}}}}}}}},"put":{"tags":["Minutes"],"summary":"회의록 수정","description":"회의록의 제목, 요약 텍스트 등을 수정합니다.","operationId":"patch","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MinutesPatchRequest"}}},"required":true},"responses":{"200":{"description":"수정 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MinutesResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"code":"GATEWAY_001","status":401,"message":"인증 토큰이 없습니다.","timestamp":1710000000000}}}},"404":{"description":"해당 회의실의 회의록을 찾을 수 없는 경우","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"AI_001 - 회의록 없음":{"description":"AI_001 - 회의록 없음","value":{"code":"AI_001","status":404,"message":"해당 회의실의 회의록을 찾을 수 없습니다","timestamp":1710000000000}}}}}},"500":{"description":"회의록 DB 저장 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"AI_012 - DB 저장 실패":{"description":"AI_012 - DB 저장 실패","value":{"code":"AI_012","status":500,"message":"회의록 데이터베이스 저장 중 오류가 발생했습니다","timestamp":1710000000000}}}}}}}}},"/v1/rooms/{roomId}/minutes/regenerate":{"post":{"tags":["Minutes"],"summary":"회의록 재생성","description":"기존 트랜스크립트를 기반으로 AI가 회의록을 다시 생성합니다. 프롬프트 커스터마이징이 가능합니다.","operationId":"regenerate","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MinutesRegenerateRequest"}}}},"responses":{"422":{"description":"트랜스크립트가 비어 있어 처리할 수 없는 경우","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"AI_004 - 트랜스크립트 없음":{"description":"AI_004 - 트랜스크립트 없음","value":{"code":"AI_004","status":422,"message":"트랜스크립트가 비어 있어 처리할 수 없습니다","timestamp":1710000000000}}}}}},"502":{"description":"외부 AI API(Claude/OpenAI) 호출 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"AI_020 - Claude API 실패":{"description":"AI_020 - Claude API 실패","value":{"code":"AI_020","status":502,"message":"Claude API 호출 중 오류가 발생했습니다","timestamp":1710000000000}}}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"code":"GATEWAY_001","status":401,"message":"인증 토큰이 없습니다.","timestamp":1710000000000}}}},"500":{"description":"서버 내부 오류 - AI 요약 처리 실패 또는 S3 저장 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"AI_005 - AI 요약 실패":{"description":"AI_005 - AI 요약 실패","value":{"code":"AI_005","status":500,"message":"AI 요약 처리 중 오류가 발생했습니다","timestamp":1710000000000}},"AI_006 - S3 저장 실패":{"description":"AI_006 - S3 저장 실패","value":{"code":"AI_006","status":500,"message":"S3에 파일을 저장하는 중 오류가 발생했습니다","timestamp":1710000000000}}}}}},"404":{"description":"해당 회의실의 회의록을 찾을 수 없는 경우","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"AI_001 - 회의록 없음":{"description":"AI_001 - 회의록 없음","value":{"code":"AI_001","status":404,"message":"해당 회의실의 회의록을 찾을 수 없습니다","timestamp":1710000000000}}}}}},"504":{"description":"외부 AI API 타임아웃","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"AI_021 - Claude API 타임아웃":{"description":"AI_021 - Claude API 타임아웃","value":{"code":"AI_021","status":504,"message":"Claude API 연결 시간이 초과되었습니다","timestamp":1710000000000}}}}}},"200":{"description":"회의록 재생성 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MinutesResponse"}}}}}}},"/v1/rooms/{roomId}/transcript":{"get":{"tags":["Minutes"],"summary":"트랜스크립트 원본 조회","description":"회의의 원본 트랜스크립트를 DTO로 반환합니다.","operationId":"transcript","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"트랜스크립트 조회 성공","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TranscriptResponse"}}}},"401":{"description":"인증 필요","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"code":"GATEWAY_001","status":401,"message":"인증 토큰이 없습니다.","timestamp":1710000000000}}}},"404":{"description":"회의록 또는 S3 파일이 없는 경우","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"AI_001 - 회의록 없음":{"description":"AI_001 - 회의록 없음","value":{"code":"AI_001","status":404,"message":"해당 회의실의 회의록을 찾을 수 없습니다","timestamp":1710000000000}},"AI_027 - S3 파일 없음":{"description":"AI_027 - S3 파일 없음","value":{"code":"AI_027","status":404,"message":"S3에서 해당 파일을 찾을 수 없습니다","timestamp":1710000000000}}}}}},"500":{"description":"S3 읽기 오류 또는 트랜스크립트 직렬화 실패","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"AI_002 - S3 읽기 실패":{"description":"AI_002 - S3 읽기 실패","value":{"code":"AI_002","status":500,"message":"S3에서 파일을 읽는 중 오류가 발생했습니다","timestamp":1710000000000}},"AI_016 - 직렬화 실패":{"description":"AI_016 - 직렬화 실패","value":{"code":"AI_016","status":500,"message":"트랜스크립트 JSON 직렬화 중 오류가 발생했습니다","timestamp":1710000000000}}}}}}}}},"/v1/me":{"get":{"tags":["AI"],"summary":"AI 서비스 상태/정보 조회","description":"AI 서비스의 상태 및 인증된 사용자 정보를 조회합니다.","operationId":"me","responses":{"401":{"description":"인증 실패 - 유효한 JWT 토큰이 없거나 만료된 경우","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"GATEWAY_001 - 토큰 없음":{"description":"GATEWAY_001 - 토큰 없음","value":{"code":"GATEWAY_001","status":401,"message":"인증 토큰이 없습니다.","timestamp":1710000000000}},"GATEWAY_002 - 토큰 만료":{"description":"GATEWAY_002 - 토큰 만료","value":{"code":"GATEWAY_002","status":401,"message":"토큰이 만료되었습니다.","timestamp":1710000000000}}}}}},"200":{"description":"AI 서비스 상태 조회 성공 - 사용자 ID와 서비스 상태 반환","content":{"*/*":{"schema":{"type":"string"}}}},"500":{"description":"서버 내부 오류","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"code":"INTERNAL_ERROR","status":500,"message":"서버 내부 오류가 발생했습니다","timestamp":1710000000000}}}}}}}},"components":{"schemas":{"MinutesPatchRequest":{"type":"object","properties":{"userEditedSummaryJson":{"type":"string"}}},"ErrorResponse":{"type":"object","properties":{"code":{"type":"string"},"status":{"type":"integer","format":"int32"},"message":{"type":"string"},"timestamp":{"type":"integer","format":"int64"}}},"MinutesResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roomId":{"type":"integer","format":"int64"},"transcriptId":{"type":"string"},"transcriptS3Key":{"type":"string"},"summaryS3Key":{"type":"string"},"summaryJson":{"type":"string"},"userEditedSummaryJson":{"type":"string"},"status":{"type":"string","enum":["GENERATED","EDITED_BY_USER","REGENERATING","FAILED"]},"lastError":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"MinutesRegenerateRequest":{"type":"object","properties":{"language":{"type":"string"},"style":{"type":"string"},"model":{"type":"string"}}},"TranscriptResponse":{"type":"object","properties":{"roomId":{"type":"integer","format":"int64"},"transcript":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}}},"securitySchemes":{"Bearer Authentication":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}