{"openapi":"3.0.1","info":{"title":"OnMeet Video Service API","description":"화상 회의, 참가자 관리, 녹화 및 화면 공유 API","version":"1.0"},"servers":[{"url":"https://api.onmeet.cloud/video","description":"Generated server url"}],"tags":[{"name":"Room Participant","description":"회의방 참가자 관리 API"},{"name":"Room Recording","description":"회의방 녹화 관리 API"},{"name":"Meeting Room","description":"회의방 CRUD 및 운영 API"},{"name":"Room Invitation","description":"회의방 초대 관리 API"},{"name":"Screen Share","description":"회의방 화면 공유 API"},{"name":"Chat Integration","description":"회의방 채팅 연동 API"},{"name":"Waiting Room SSE","description":"대기실 실시간 알림 SSE API"}],"paths":{"/webhook/livekit":{"post":{"tags":["live-kit-webhook-controller"],"operationId":"handleWebhook","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/rooms":{"get":{"tags":["Meeting Room"],"summary":"회의방 목록 조회","operationId":"list","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["WAITING","ACTIVE","ENDED","CANCELLED"]}},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["INSTANT","SCHEDULED","RECURRING"]}},{"name":"accessScope","in":"query","required":false,"schema":{"type":"string","enum":["ALL","TEAM","INDIVIDUAL_INVITE"]}},{"name":"hostUserId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageMeetingRoomResponse"}}}}}},"post":{"tags":["Meeting Room"],"summary":"회의방 생성","operationId":"create","parameters":[{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMeetingRoomResponse"}}}}}}},"/api/rooms/{roomId}/waiting/{userId}/reject":{"post":{"tags":["Room Participant"],"summary":"대기실 참가자 거절","operationId":"rejectWaiting","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/waiting/{userId}/admit":{"post":{"tags":["Room Participant"],"summary":"대기실 참가자 승인","operationId":"admitWaiting","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/waiting/admit-all":{"post":{"tags":["Room Participant"],"summary":"대기실 전체 승인","operationId":"admitAllWaiting","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/unmute-all":{"post":{"tags":["Room Participant"],"summary":"전체 음소거 해제","operationId":"unmuteAll","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/unlock":{"post":{"tags":["Meeting Room"],"summary":"회의방 잠금 해제","operationId":"unlock","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/tags":{"post":{"tags":["Meeting Room"],"summary":"회의방 태그 추가","operationId":"addTag","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/start":{"post":{"tags":["Meeting Room"],"summary":"회의 시작","operationId":"start","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMeetingRoomResponse"}}}}}}},"/api/rooms/{roomId}/screen-share/stop":{"post":{"tags":["Screen Share"],"summary":"화면 공유 중지","operationId":"stop","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/screen-share/start":{"post":{"tags":["Screen Share"],"summary":"화면 공유 시작","operationId":"start_1","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseScreenShareResponse"}}}}}}},"/api/rooms/{roomId}/screen-share/force-stop":{"post":{"tags":["Screen Share"],"summary":"화면 공유 강제 중지","operationId":"forceStop","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"targetUserId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/schedule/remind":{"post":{"tags":["Meeting Room"],"summary":"회의 리마인더 발송","operationId":"sendReminder","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/regenerate-code":{"post":{"tags":["Meeting Room"],"summary":"방 코드 재생성","operationId":"regenerateCode","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMeetingRoomResponse"}}}}}}},"/api/rooms/{roomId}/recording/stop":{"post":{"tags":["Room Recording"],"summary":"녹화 중지","operationId":"stopRecording","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/recording/start":{"post":{"tags":["Room Recording"],"summary":"녹화 시작","operationId":"startRecording","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRoomRecordingResponse"}}}}}}},"/api/rooms/{roomId}/participants/{userId}/unmute":{"post":{"tags":["Room Participant"],"summary":"참가자 음소거 해제","operationId":"unmute","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/participants/{userId}/mute":{"post":{"tags":["Room Participant"],"summary":"참가자 음소거","operationId":"mute","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/participants/{userId}/kick":{"post":{"tags":["Room Participant"],"summary":"참가자 강퇴","operationId":"kick","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/mute-all":{"post":{"tags":["Room Participant"],"summary":"전체 음소거","operationId":"muteAll","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/lock":{"post":{"tags":["Meeting Room"],"summary":"회의방 잠금","operationId":"lock","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomLockRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/leave":{"post":{"tags":["Meeting Room"],"summary":"회의방 퇴장","operationId":"leave","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/join":{"post":{"tags":["Meeting Room"],"summary":"회의방 참가","operationId":"join","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomJoinRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoomJoinResponse"}}}}}}},"/api/rooms/{roomId}/invite":{"post":{"tags":["Room Invitation"],"summary":"회의방 초대","operationId":"invite","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseInvitationResponse"}}}}}}},"/api/rooms/{roomId}/invite/bulk":{"post":{"tags":["Room Invitation"],"summary":"회의방 일괄 초대","operationId":"inviteBulk","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkInviteRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListInvitationResponse"}}}}}}},"/api/rooms/{roomId}/favorite":{"post":{"tags":["Meeting Room"],"summary":"회의방 즐겨찾기 추가","operationId":"addFavorite","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"delete":{"tags":["Meeting Room"],"summary":"회의방 즐겨찾기 삭제","operationId":"removeFavorite","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/end":{"post":{"tags":["Meeting Room"],"summary":"회의 종료","operationId":"end","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMeetingRoomResponse"}}}}}}},"/api/rooms/{roomId}/disable-video-all":{"post":{"tags":["Room Participant"],"summary":"전체 비디오 끄기","operationId":"disableVideoAll","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/chat/send":{"post":{"tags":["Chat Integration"],"summary":"채팅 메시지 전송","operationId":"sendMessage","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendChatRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/schedule":{"post":{"tags":["Meeting Room"],"summary":"회의 예약 생성","operationId":"schedule","parameters":[{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomScheduleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMeetingRoomResponse"}}}}}}},"/api/rooms/internal/chat-token":{"post":{"tags":["Chat Integration"],"summary":"채팅 토큰 발급","operationId":"generateChatToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatTokenRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseChatTokenResponse"}}}}}}},"/api/invitations/{invitationId}/decline":{"post":{"tags":["Room Invitation"],"summary":"초대 거절","operationId":"decline","parameters":[{"name":"invitationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseInvitationResponse"}}}}}}},"/api/invitations/{invitationId}/accept":{"post":{"tags":["Room Invitation"],"summary":"초대 수락","operationId":"accept","parameters":[{"name":"invitationId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseInvitationResponse"}}}}}}},"/api/rooms/{roomId}":{"get":{"tags":["Meeting Room"],"summary":"회의방 상세 조회","operationId":"get","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMeetingRoomDetailResponse"}}}}}},"delete":{"tags":["Meeting Room"],"summary":"회의방 삭제","operationId":"delete","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Meeting Room"],"summary":"회의방 정보 수정","operationId":"update","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMeetingRoomResponse"}}}}}}},"/api/rooms/{roomId}/settings":{"get":{"tags":["Meeting Room"],"summary":"회의방 설정 조회","operationId":"getSettings","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoomSettingsResponse"}}}}}},"patch":{"tags":["Meeting Room"],"summary":"회의방 설정 수정","operationId":"updateSettings","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoomSettingsUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoomSettingsResponse"}}}}}}},"/api/rooms/{roomId}/schedule":{"delete":{"tags":["Meeting Room"],"summary":"회의 예약 취소","operationId":"cancelSchedule","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Meeting Room"],"summary":"회의 예약 일정 변경","operationId":"updateSchedule","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"scheduledAt","in":"query","required":true,"schema":{"type":"string","format":"date-time"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMeetingRoomResponse"}}}}}}},"/api/rooms/{roomId}/participants/{userId}/role":{"patch":{"tags":["Room Participant"],"summary":"참가자 역할 변경","operationId":"updateRole","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ParticipantRoleUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoomParticipantResponse"}}}}}}},"/api/rooms/{roomId}/waiting":{"get":{"tags":["Room Participant"],"summary":"대기실 참가자 목록 조회","operationId":"listWaiting","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRoomParticipantResponse"}}}}}}},"/api/rooms/{roomId}/waiting/sse/participant":{"get":{"tags":["Waiting Room SSE"],"summary":"대기 참여자 SSE 구독","operationId":"subscribeParticipant","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}}}},"/api/rooms/{roomId}/waiting/sse/host":{"get":{"tags":["Waiting Room SSE"],"summary":"호스트 대기실 SSE 구독","operationId":"subscribeHost","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}}}},"/api/rooms/{roomId}/timeline":{"get":{"tags":["Meeting Room"],"summary":"회의방 타임라인 조회","operationId":"getTimeline","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListTimelineEntry"}}}}}}},"/api/rooms/{roomId}/stats":{"get":{"tags":["Meeting Room"],"summary":"회의방 통계 조회","operationId":"getStats","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoomStatsResponse"}}}}}}},"/api/rooms/{roomId}/screen-share/active":{"get":{"tags":["Screen Share"],"summary":"화면 공유 중인 참가자 목록 조회","operationId":"active","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListScreenShareResponse"}}}}}}},"/api/rooms/{roomId}/recordings":{"get":{"tags":["Room Recording"],"summary":"녹화 목록 조회","operationId":"listRecordings","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRoomRecordingResponse"}}}}}}},"/api/rooms/{roomId}/recording/status":{"get":{"tags":["Room Recording"],"summary":"녹화 상태 조회","operationId":"getRecordingStatus","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRoomRecordingResponse"}}}}}}},"/api/rooms/{roomId}/participants":{"get":{"tags":["Room Participant"],"summary":"현재 참가자 목록 조회","operationId":"listCurrent","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRoomParticipantResponse"}}}}}}},"/api/rooms/{roomId}/participants/history":{"get":{"tags":["Room Participant"],"summary":"참가자 이력 조회","operationId":"listHistory","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRoomParticipantResponse"}}}}}}},"/api/rooms/{roomId}/invitations":{"get":{"tags":["Room Invitation"],"summary":"초대 목록 조회","operationId":"listInvitations","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListInvitationResponse"}}}}}}},"/api/rooms/tags/{tagName}":{"get":{"tags":["Meeting Room"],"summary":"태그로 회의방 검색","operationId":"searchByTag","parameters":[{"name":"tagName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMeetingRoomResponse"}}}}}}},"/api/rooms/scheduled":{"get":{"tags":["Meeting Room"],"summary":"예약된 회의 목록 조회","operationId":"listScheduled","parameters":[{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMeetingRoomResponse"}}}}}}},"/api/rooms/history":{"get":{"tags":["Meeting Room"],"summary":"참가했던 회의 이력 조회","operationId":"listHistory_1","parameters":[{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMeetingRoomResponse"}}}}}}},"/api/rooms/history/monthly":{"get":{"tags":["Meeting Room"],"summary":"월별 회의 통계 조회","operationId":"getMonthlyStats","parameters":[{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMonthlyStatsResponse"}}}}}}},"/api/rooms/favorites":{"get":{"tags":["Meeting Room"],"summary":"즐겨찾기 회의방 목록 조회","operationId":"listFavorites","parameters":[{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListMeetingRoomResponse"}}}}}}},"/api/rooms/code/{roomCode}":{"get":{"tags":["Meeting Room"],"summary":"방 코드로 회의방 조회","operationId":"findByCode","parameters":[{"name":"roomCode","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMeetingRoomResponse"}}}}}}},"/api/recordings/{recordingId}/download":{"get":{"tags":["Room Recording"],"summary":"녹화 파일 다운로드 URL 조회","operationId":"getDownloadUrl","parameters":[{"name":"recordingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/rooms/{roomId}/tags/{tagName}":{"delete":{"tags":["Meeting Room"],"summary":"회의방 태그 삭제","operationId":"removeTag","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"tagName","in":"path","required":true,"schema":{"type":"string"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/rooms/{roomId}/invite/{inviteeUserId}":{"delete":{"tags":["Room Invitation"],"summary":"초대 취소","operationId":"cancelInvitation","parameters":[{"name":"roomId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"inviteeUserId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/recordings/{recordingId}":{"delete":{"tags":["Room Recording"],"summary":"녹화 파일 삭제","operationId":"deleteRecording","parameters":[{"name":"recordingId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"X-User-Id","in":"header","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}}},"components":{"schemas":{"RoomCreateRequest":{"required":["title"],"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["INSTANT","SCHEDULED","RECURRING"]},"maxParticipants":{"maximum":100,"minimum":2,"type":"integer","format":"int32"},"password":{"type":"string"},"scheduledAt":{"type":"string","format":"date-time"},"accessScope":{"type":"string","enum":["ALL","TEAM","INDIVIDUAL_INVITE"]},"teamId":{"type":"integer","format":"int64"}}},"ApiResponseMeetingRoomResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/MeetingRoomResponse"},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"ErrorResponse":{"type":"object","properties":{"status":{"type":"integer","format":"int32"},"message":{"type":"string"}}},"MeetingRoomResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roomCode":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"hostUserId":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["WAITING","ACTIVE","ENDED","CANCELLED"]},"type":{"type":"string","enum":["INSTANT","SCHEDULED","RECURRING"]},"accessScope":{"type":"string","enum":["ALL","TEAM","INDIVIDUAL_INVITE"]},"teamId":{"type":"integer","format":"int64"},"maxParticipants":{"type":"integer","format":"int32"},"locked":{"type":"boolean"},"scheduledAt":{"type":"string","format":"date-time"},"startedAt":{"type":"string","format":"date-time"},"endedAt":{"type":"string","format":"date-time"},"durationSeconds":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"}}},"ApiResponseVoid":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object"},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"TagCreateRequest":{"required":["tagName"],"type":"object","properties":{"tagName":{"maxLength":50,"minLength":0,"type":"string"}}},"ApiResponseScreenShareResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/ScreenShareResponse"},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"ScreenShareResponse":{"type":"object","properties":{"participantId":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"startedAt":{"type":"string","format":"date-time"}}},"ApiResponseListRoomRecordingResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/RoomRecordingResponse"}},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"RoomRecordingResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roomId":{"type":"integer","format":"int64"},"egressId":{"type":"string"},"type":{"type":"string","enum":["FULL_AUDIO","SEGMENT","FULL_VIDEO","PARTICIPANT_AUDIO"]},"status":{"type":"string","enum":["RECORDING","PROCESSING","COMPLETED","FAILED"]},"s3Path":{"type":"string"},"fileSizeBytes":{"type":"integer","format":"int64"},"durationSeconds":{"type":"integer","format":"int32"},"segmentIndex":{"type":"integer","format":"int32"},"participantIdentity":{"type":"string"},"trackSid":{"type":"string"},"startedAt":{"type":"string","format":"date-time"},"endedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}}},"RoomLockRequest":{"type":"object","properties":{"password":{"type":"string"}}},"RoomJoinRequest":{"type":"object","properties":{"password":{"type":"string"},"deviceType":{"type":"string","enum":["WEB","MOBILE","DESKTOP"]}}},"ApiResponseRoomJoinResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/RoomJoinResponse"},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"RoomJoinResponse":{"type":"object","properties":{"token":{"type":"string"},"livekitUrl":{"type":"string"},"roomName":{"type":"string"},"waitingRoom":{"type":"boolean"}}},"InviteRequest":{"required":["inviteeUserId"],"type":"object","properties":{"inviteeUserId":{"type":"integer","format":"int64"}}},"ApiResponseInvitationResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/InvitationResponse"},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"InvitationResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roomId":{"type":"integer","format":"int64"},"inviterUserId":{"type":"integer","format":"int64"},"inviteeUserId":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["PENDING","ACCEPTED","DECLINED","CANCELLED"]},"createdAt":{"type":"string","format":"date-time"}}},"BulkInviteRequest":{"required":["inviteeUserIds"],"type":"object","properties":{"inviteeUserIds":{"type":"array","items":{"type":"integer","format":"int64"}}}},"ApiResponseListInvitationResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/InvitationResponse"}},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"SendChatRequest":{"required":["content"],"type":"object","properties":{"content":{"type":"string"},"type":{"type":"string"},"replyToMessageId":{"type":"string"},"destinationUserId":{"type":"integer","format":"int64"}}},"RoomScheduleRequest":{"required":["scheduledAt","title"],"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"scheduledAt":{"type":"string","format":"date-time"},"maxParticipants":{"maximum":100,"minimum":2,"type":"integer","format":"int32"},"password":{"type":"string"},"accessScope":{"type":"string","enum":["ALL","TEAM","INDIVIDUAL_INVITE"]},"teamId":{"type":"integer","format":"int64"}}},"ChatTokenRequest":{"required":["serviceIdentity"],"type":"object","properties":{"roomId":{"type":"integer","format":"int64"},"roomCode":{"type":"string"},"serviceIdentity":{"type":"string"}}},"ApiResponseChatTokenResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/ChatTokenResponse"},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"ChatTokenResponse":{"type":"object","properties":{"token":{"type":"string"},"livekitUrl":{"type":"string"},"roomName":{"type":"string"},"roomId":{"type":"integer","format":"int64"}}},"RoomUpdateRequest":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"maxParticipants":{"type":"integer","format":"int32"}}},"RoomSettingsUpdateRequest":{"type":"object","properties":{"videoEnabled":{"type":"boolean"},"audioEnabled":{"type":"boolean"},"screenShareAllowed":{"type":"boolean"},"chatEnabled":{"type":"boolean"},"recordingEnabled":{"type":"boolean"},"waitingRoom":{"type":"boolean"},"autoMuteOnJoin":{"type":"boolean"}}},"ApiResponseRoomSettingsResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/RoomSettingsResponse"},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"RoomSettingsResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roomId":{"type":"integer","format":"int64"},"videoEnabled":{"type":"boolean"},"audioEnabled":{"type":"boolean"},"screenShareAllowed":{"type":"boolean"},"chatEnabled":{"type":"boolean"},"recordingEnabled":{"type":"boolean"},"waitingRoom":{"type":"boolean"},"autoMuteOnJoin":{"type":"boolean"}}},"ParticipantRoleUpdateRequest":{"required":["role"],"type":"object","properties":{"role":{"type":"string","enum":["HOST","CO_HOST","PARTICIPANT","VIEWER"]}}},"ApiResponseRoomParticipantResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/RoomParticipantResponse"},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"RoomParticipantResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roomId":{"type":"integer","format":"int64"},"userId":{"type":"integer","format":"int64"},"role":{"type":"string","enum":["HOST","CO_HOST","PARTICIPANT","VIEWER"]},"status":{"type":"string","enum":["WAITING","JOINED","LEFT","KICKED","DISCONNECTED"]},"joinedAt":{"type":"string","format":"date-time"},"leftAt":{"type":"string","format":"date-time"},"durationSeconds":{"type":"integer","format":"int32"},"deviceType":{"type":"string","enum":["WEB","MOBILE","DESKTOP"]}}},"Pageable":{"type":"object","properties":{"page":{"minimum":0,"type":"integer","format":"int32"},"size":{"minimum":1,"type":"integer","format":"int32"},"sort":{"type":"array","items":{"type":"string"}}}},"ApiResponsePageMeetingRoomResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PageMeetingRoomResponse"},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"PageMeetingRoomResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/MeetingRoomResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"last":{"type":"boolean"},"first":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"type":"array","items":{"$ref":"#/components/schemas/SortObject"}},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"direction":{"type":"string"},"nullHandling":{"type":"string"},"ascending":{"type":"boolean"},"property":{"type":"string"},"ignoreCase":{"type":"boolean"}}},"ApiResponseMeetingRoomDetailResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/MeetingRoomDetailResponse"},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"MeetingRoomDetailResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"roomCode":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"hostUserId":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["WAITING","ACTIVE","ENDED","CANCELLED"]},"type":{"type":"string","enum":["INSTANT","SCHEDULED","RECURRING"]},"accessScope":{"type":"string","enum":["ALL","TEAM","INDIVIDUAL_INVITE"]},"teamId":{"type":"integer","format":"int64"},"maxParticipants":{"type":"integer","format":"int32"},"locked":{"type":"boolean"},"scheduledAt":{"type":"string","format":"date-time"},"startedAt":{"type":"string","format":"date-time"},"endedAt":{"type":"string","format":"date-time"},"durationSeconds":{"type":"integer","format":"int32"},"currentParticipantCount":{"type":"integer","format":"int32"},"settings":{"$ref":"#/components/schemas/RoomSettingsResponse"},"tags":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string","format":"date-time"}}},"ApiResponseListRoomParticipantResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/RoomParticipantResponse"}},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"SseEmitter":{"type":"object","properties":{"timeout":{"type":"integer","format":"int64"}}},"ApiResponseListTimelineEntry":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TimelineEntry"}},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"TimelineEntry":{"type":"object","properties":{"eventType":{"type":"string"},"userId":{"type":"integer","format":"int64"},"description":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseRoomStatsResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/RoomStatsResponse"},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"RoomStatsResponse":{"type":"object","properties":{"roomId":{"type":"integer","format":"int64"},"title":{"type":"string"},"status":{"type":"string","enum":["WAITING","ACTIVE","ENDED","CANCELLED"]},"totalParticipants":{"type":"integer","format":"int32"},"currentParticipants":{"type":"integer","format":"int32"},"durationSeconds":{"type":"integer","format":"int32"},"totalRecordings":{"type":"integer","format":"int32"},"startedAt":{"type":"string","format":"date-time"},"endedAt":{"type":"string","format":"date-time"}}},"ApiResponseListScreenShareResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ScreenShareResponse"}},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"ApiResponseListMeetingRoomResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/MeetingRoomResponse"}},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"ApiResponseListMonthlyStatsResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/MonthlyStatsResponse"}},"error":{"$ref":"#/components/schemas/ErrorResponse"}}},"MonthlyStatsResponse":{"type":"object","properties":{"year":{"type":"integer","format":"int32"},"month":{"type":"integer","format":"int32"},"totalMeetings":{"type":"integer","format":"int64"},"totalDurationSeconds":{"type":"integer","format":"int64"},"totalParticipants":{"type":"integer","format":"int64"}}},"ApiResponseString":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"string"},"error":{"$ref":"#/components/schemas/ErrorResponse"}}}}},
  "customizations": {
    "jetbrains": {
      "settings": {
        "com.intellij:app:Vcs-Log-App-Settings.show_changes_from_parents": true,
        "com.intellij:app:BuiltInServerOptions.builtInServerPort": 60726,
        "com.intellij:app:HttpConfigurable.use_proxy_pac": true
      }
    }
  }
}