{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api.onmeet.cloud/notification",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "Notification Settings",
      "description": "알림 설정 API"
    },
    {
      "name": "Internal Notification",
      "description": "내부 서비스 간 알림 발송 API"
    },
    {
      "name": "FCM Token",
      "description": "FCM 토큰 관리 API"
    },
    {
      "name": "SSE",
      "description": "실시간 알림 SSE 구독 API"
    },
    {
      "name": "Notification",
      "description": "알림 조회 및 관리 API"
    }
  ],
  "paths": {
    "/notification/v1/settings/{userId}": {
      "get": {
        "tags": [
          "Notification Settings"
        ],
        "summary": "알림 설정 조회",
        "description": "현재 사용자의 알림 설정을 조회합니다.",
        "operationId": "getSettings",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationSettingDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Notification Settings"
        ],
        "summary": "알림 설정 업데이트",
        "description": "사용자의 알림 설정을 업데이트합니다.",
        "operationId": "updateSettings",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationSettingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/notification/v1/fcm/token": {
      "post": {
        "tags": [
          "FCM Token"
        ],
        "summary": "FCM 토큰 등록",
        "description": "현재 인증된 사용자의 디바이스 FCM 토큰을 등록합니다. 사용자 ID는 Gateway에서 주입된 인증 정보를 통해 자동으로 식별됩니다.",
        "operationId": "registerToken",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FcmTokenRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": [
          "FCM Token"
        ],
        "summary": "FCM 토큰 해제",
        "description": "현재 인증된 사용자의 FCM 토큰을 삭제합니다. 사용자 ID는 Gateway에서 주입된 인증 정보를 통해 자동으로 식별됩니다.",
        "operationId": "unregisterToken",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/notification/internal/send": {
      "post": {
        "tags": [
          "Internal Notification"
        ],
        "summary": "알림 발송",
        "description": "타 서비스에서 호출하여 특정 사용자에게 알림을 발송합니다.",
        "operationId": "sendNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/notification/v1/notifications/{notificationId}/read": {
      "patch": {
        "tags": [
          "Notification"
        ],
        "summary": "알림 단건 읽음 처리",
        "description": "특정 알림 ID를 읽음 처리합니다.",
        "operationId": "markAsRead",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "description": "알림 수신 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "description": "사용자 ID (Gateway에서 자동 주입)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/notification/v1/notifications/read/all": {
      "patch": {
        "tags": [
          "Notification"
        ],
        "summary": "모든 알림 읽음 처리",
        "description": "현재 로그인된 사용자의 모든 알림을 읽음 처리합니다.",
        "operationId": "markAllAsRead",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "description": "사용자 ID (Gateway에서 자동 주입)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notification/v1/sse/subscribe": {
      "get": {
        "tags": [
          "SSE"
        ],
        "summary": "SSE 알림 구독",
        "description": "현재 인증된 사용자의 실시간 알림 스트림에 구독합니다. 로그인 후 프론트엔드에서 이 엔드포인트를 호출하여 SSE 연결을 유지해야 합니다. 멀티탭/멀티디바이스 지원 — 동일 사용자의 다중 연결이 허용됩니다.",
        "operationId": "subscribe",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/SseEmitter"
                }
              }
            }
          }
        }
      }
    },
    "/notification/v1/notifications": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "내 알림 목록 조회",
        "description": "현재 로그인된 사용자의 알림 목록을 최신순으로 페이징하여 조회합니다.",
        "operationId": "getMyNotifications",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "description": "사용자 ID (Gateway에서 자동 주입)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "pageable",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageNotificationResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/notification/v1/notifications/unread/count": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "미읽음 알림 수 조회",
        "description": "현재 로그인된 사용자의 읽지 않은 알림 개수를 반환합니다.",
        "operationId": "getUnreadCount",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "description": "사용자 ID (Gateway에서 자동 주입)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notification/v1/notifications/{notificationId}": {
      "delete": {
        "tags": [
          "Notification"
        ],
        "summary": "알림 단건 삭제",
        "description": "특정 알림 ID를 삭제합니다.",
        "operationId": "deleteNotification",
        "parameters": [
          {
            "name": "notificationId",
            "in": "path",
            "description": "알림 수신 ID",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "description": "사용자 ID (Gateway에서 자동 주입)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/notification/v1/notifications/all": {
      "delete": {
        "tags": [
          "Notification"
        ],
        "summary": "모든 알림 삭제",
        "description": "현재 로그인된 사용자의 모든 알림을 삭제합니다.",
        "operationId": "deleteAllNotifications",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "description": "사용자 ID (Gateway에서 자동 주입)",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "LocalTime": {
        "type": "object",
        "properties": {
          "hour": {
            "type": "integer",
            "format": "int32"
          },
          "minute": {
            "type": "integer",
            "format": "int32"
          },
          "second": {
            "type": "integer",
            "format": "int32"
          },
          "nano": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "NotificationSettingDto": {
        "type": "object",
        "properties": {
          "doNotDisturbStartTime": {
            "$ref": "#/components/schemas/LocalTime"
          },
          "doNotDisturbEndTime": {
            "$ref": "#/components/schemas/LocalTime"
          },
          "pushEnabled": {
            "type": "boolean"
          },
          "meetingInviteNotification": {
            "type": "boolean"
          },
          "meetingStartNotification": {
            "type": "boolean"
          },
          "meetingRemindNotification": {
            "type": "boolean"
          },
          "minutesCompletedNotification": {
            "type": "boolean"
          },
          "systemNoticeNotification": {
            "type": "boolean"
          },
          "doNotDisturbEnabled": {
            "type": "boolean"
          }
        }
      },
      "FcmTokenRequestDto": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "deviceId": {
            "type": "string"
          },
          "deviceType": {
            "type": "string"
          }
        }
      },
      "NotificationRequestDto": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string",
            "enum": [
              "MEETING_CREATED",
              "MEETING_TODAY",
              "MEETING_STARTED",
              "TEAM_MEMBER_ADDED",
              "SYSTEM",
              "EVENT",
              "MEETING_INVITATION",
              "INVITATION_ACCEPTED",
              "INVITATION_DECLINED",
              "INVITATION_CANCELLED",
              "PARTICIPANT_KICKED",
              "WAITING_ROOM_ADMITTED",
              "WAITING_ROOM_REJECTED",
              "PARTICIPANT_JOINED_NOTIFY",
              "SCHEDULE_CREATED",
              "SCHEDULE_CHANGED",
              "SCHEDULE_CANCELLED",
              "MEETING_REMINDER"
            ]
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "deeplink": {
            "type": "string"
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time"
          },
          "resourceType": {
            "type": "string",
            "enum": [
              "MEETING",
              "MINUTES",
              "TEAM",
              "NOTICE",
              "EVENT"
            ]
          },
          "dedupeKey": {
            "type": "string"
          },
          "resourceId": {
            "type": "string"
          },
          "actorUserId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "SseEmitter": {
        "type": "object",
        "properties": {
          "timeout": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Pageable": {
        "type": "object",
        "properties": {
          "page": {
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "NotificationResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "type": {
            "type": "string",
            "enum": [
              "MEETING_CREATED",
              "MEETING_TODAY",
              "MEETING_STARTED",
              "TEAM_MEMBER_ADDED",
              "SYSTEM",
              "EVENT",
              "MEETING_INVITATION",
              "INVITATION_ACCEPTED",
              "INVITATION_DECLINED",
              "INVITATION_CANCELLED",
              "PARTICIPANT_KICKED",
              "WAITING_ROOM_ADMITTED",
              "WAITING_ROOM_REJECTED",
              "PARTICIPANT_JOINED_NOTIFY",
              "SCHEDULE_CREATED",
              "SCHEDULE_CHANGED",
              "SCHEDULE_CANCELLED",
              "MEETING_REMINDER"
            ]
          },
          "title": {
            "type": "string"
          },
          "body": {
            "type": "string"
          },
          "deeplink": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "scheduledAt": {
            "type": "string",
            "format": "date-time"
          },
          "resourceType": {
            "type": "string",
            "enum": [
              "MEETING",
              "MINUTES",
              "TEAM",
              "NOTICE",
              "EVENT"
            ]
          },
          "dedupeKey": {
            "type": "string"
          },
          "resourceId": {
            "type": "string"
          },
          "actorUserId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PageNotificationResponseDto": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NotificationResponseDto"
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortObject"
            }
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "pageable": {
            "$ref": "#/components/schemas/PageableObject"
          },
          "last": {
            "type": "boolean"
          },
          "first": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "PageableObject": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "format": "int64"
          },
          "sort": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SortObject"
            }
          },
          "unpaged": {
            "type": "boolean"
          },
          "paged": {
            "type": "boolean"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "SortObject": {
        "type": "object",
        "properties": {
          "direction": {
            "type": "string"
          },
          "nullHandling": {
            "type": "string"
          },
          "ascending": {
            "type": "boolean"
          },
          "property": {
            "type": "string"
          },
          "ignoreCase": {
            "type": "boolean"
          }
        }
      }
    }
  }
}